.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none;
}

.header {
  background-color:#fff;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px #333;
  z-index: 1000;
}
.header-nav {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  height: 40px;
}
.header-nav .logo {
  display: inline-block;
  width: 50px;
  height: 40px;
  background: url(../img/Compal-logo.png) no-repeat;
  background-size: 35px;
  background-position-y: 3px;
  margin-left: 30px;
}
.header-nav .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translatey(-50%) 

}

.main {
  
  
}
.bg-blur {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: url('../img/122.jpeg');
  background-size: cover;
  -moz-filter: blur(40px);
  -webkit-filter: blur(40px);
  -o-filter: blur(40px);
  -ms-filter: blur(40px);
  filter: blur(40px);
}
.main .inner {
  padding-top: 50px; 
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;


}


.swiper-container {
  margin: 0 10px;
  max-width: 900px;
}  
.swiper-wrapper img {
  width: 100%;
}

.content {
  /* border: 1px solid #333; */
  position: relative;
  overflow: hidden;
  max-height: 400px;
  max-width: 950px;
  /* z-index: 1000; */
}
.content-list {
  position: relative;
}
.content-list li {
  padding: 10px 15px;
  background-color: #ffcccc;
  color: #333;
  margin: 15px 15px;
  border-radius: 5px;
  line-height: 20px;
}

/* .content-list li:nth-of-type(2n-1) {
  background-color: #e8585f;
  color: #fff;
}
.content-list li:nth-of-type(2n) {
  background-color: #3f3f3f;
  color: #fff;
} 
.content-list li:nth-of-type(4n) {
  background-color: #f31055;
  color: #fff;
}
.content-list li:nth-of-type(5n) {
  background-color: #54d669;
  color: #fff;
}
.content-list li:nth-of-type(6n) {
  background-color: #ccffff;
  color: #333;
}  */

.push {
  position: fixed;
  display: inline-block;
  height: 50px;
  width: 100px;
  background: url('../img/webwxgetmsgimg.png') no-repeat;
  background-size: 100px;
  right: 5px;
  bottom: 130px;
}
.goto {
  position: fixed;
  display: inline-block;
  height: 50px;
  width: 100px;
  right: 5px;
  bottom: 130px;
}
.count {
  display: flex;
  width: 100%;
  justify-content: center;
}
.count span{
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 4px;
  color: #333;
  font-size: 12px;
}

.in-edit {
  /* border: 1px solid #ccc; */
  padding: 5px 15px;
  height: 25px;
  width: 210px;
  line-height: 30px;
  border-radius: 3px;
  text-indent: 30px;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0 0 5px #333;
  background: url('../img/搜索.png') 5px  no-repeat;
  background-color: rgba(255, 255, 255, .6);
  background-size: 30px; 
}
.in-edit:focus {
  outline:none;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* text-align: center;
  margin: 0 auto; */
}
.search .btn {
  width: 80px;
  height: 35px;
  background-color: #db4c3f;
  opacity: 0.9;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 5px #333;
}
